<div class="panel">
    Please use the below links to upload more files.
    <div class="panel-body">
        @Html.ActionLink("Click here for Excel", "Excel")
        <br />
        @Html.ActionLink("Click here for CSV", "Csv")
    </div>
</div>